@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Crimson Text", serif;
  font-size: 35px;
  font-weight: 600;
}

header nav a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

header button {
  background-color: #485c11;
  padding: 15px 30px;
  border-radius: 150px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

main {
  padding: 20px 40px;
}

main section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 50px 20px;
}

main section .hero-box {
  position: absolute;
  bottom: -3px;
  height: 360px;
  border-radius: 30px;
  width: 100%;
  background-color: #8e9c78;
}

main section img {
  z-index: 100;
  border: 15px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: none;
}

main section h1 {
  font-size: 140px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}
