@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

header {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Crimson Text", serif;
  font-size: 35px;
  font-weight: 600;
}

header nav a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

header button {
  background-color: #485c11;
  padding: 15px 30px;
  border-radius: 150px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

main {
  padding: 20px 40px;
}

main section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 50px 20px;
}

main section .hero-box {
  position: absolute;
  bottom: -3px;
  height: 360px;
  border-radius: 30px;
  width: 100%;
  background-color: #8e9c78;
}

main section img {
  z-index: 100;
  border: 15px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: none;
}

main section h1 {
  font-size: 140px;
  font-family: "Crimson Text", serif;
  font-weight: 400;
}

.brands {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.brands h6 {
  color: #6f6f6f;
  font-weight: normal;
  font-size: 15px;
}
main .brands div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

main .brands div img {
  border: none;
}

.benefits {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.benefits > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}

.benefits .cards {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.benefits .cards div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: last baseline;
  gap: 30px;
}

.benefits .cards div h3 {
  font-family: "Crimson Text", serif;
  font-weight: bold;
}

.benefits h6 {
  font-family: monospace;
  font-size: 18px;
  color: #6f6f6f;
}

.benefits h2 {
  font-family: "Crimson Text", serif;
  font-size: 50px;
  font-weight: normal;
}

.benefits p {
  color: #6f6f6f;
}

.benefits img {
  border: none;
}

.cards {
  display: flex;
}

.big-picture {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 100px;
}

.big-picture > div {
  display: flex;
  align-items: last baseline;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.big-picture h2 {
  font-size: 60px;
  font-weight: normal;
  font-family: "Crimson Text", serif;
}

.big-picture div p:first-of-type {
  color: #6f6f6f;
}

.big-picture div div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.big-picture img {
  border: none;
}

.big-picture div div p {
  margin: 20px;
}

.big-picture .count {
  color: #6f6f6f;
}

.big-picture button {
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #dfecc6;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
}
